.container {
    display: flex;
    flex-direction: row-reverse;

}

.item {
    height: 100px;
}

.green {
    background-color: green;
    width: 25%;
}

.yellow {
    background-color: yellow;
    width: 50%;
}

.purple {
    background-color: purple;
    width: 25%;
}