body {
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url("assets/bck.png");
    color: white;
}

.container {
    padding-left: 200px;
    padding-right: 200px;
}

.nav {
    background-color: rgba(235, 223, 223, 0.1);
    padding: 5px 200px;
    margin: 0px;
}

h1 {
    margin: 0px;
    padding: 0px;
}

h2, h3 {
    margin: 5px 0px;
}

input {
    border: solid 1px white;
    color: white;
    border-radius: 10px;

}

#title {
    width: 33%;
    background-color: transparent;
    border-radius: 5px;
}

#content {
    margin: 0px;
    width: 100%;
    padding-bottom: 150px;
    background-color: transparent;
}

#submit {
    border: 0px;
    border-radius: 2px;
    background-color: transparent;
    font-size: 1.2em;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 10px;
}

#submit:hover {
    background-color: white;
    color: grey;
    transition: 500ms;
}

.posts {
    border: solid 1px white;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: rgba(235, 223, 223, 0.1)
}

.post {
    border: solid 1px white;
    margin: 20px 0px;
    border-radius: 10px;
}

.post h4 {
    font-size: 1.2em;
    margin-left: 5px;
    padding: 0px 0px 0px 5px;
    margin: 0px;
}

.post p {
    margin-left: 5px;
    padding: 0px;
}