.container {
    width: 1000px;
    height: 600px;
    background-color: yellow;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
}

.item {
    height: 120px;
    width: 120px;
    background-color: purple;
    list-style: none
    margin-left: 0px;
    margin-right: 15px;
}