* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #6a6d6f;
}

main {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-auto-rows: minmax(40px, auto);
  grid-gap: 5px;
  width: 65vw;
  margin: 5vh auto;
  padding: 1vh;
  background-color: #f5f5f5;
  box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.75);
}

.logo {
  grid-column: 1 / 4;
  grid-row: 1 / 4;
}

.logo > img {
  margin: 25px 0 0 10px;
}

.logo > h3 {
    float: right;
    line-height: 120px;
}

.artwork {
  grid-column: 4 / 6;
  grid-row: 1 / 5;
}

.artwork > img {
  width: 100%;
  height: 100%;
}

.current {
  grid-column: 6 / 11;
  grid-row: 1 / 3;
  background-color: #eaeaea;
  display: flex;
  align-items: center;
}

.current-song {
    flex: 8;
    padding-left: 10px;
}

.actions {
    flex: 2;
}

.actions > p {
    display: inline;
    font-size: 40px;
    color: #B4B4B4;
}

.playlist-header {
  grid-column: 1 / 4;
  grid-row: 4 / 5;
}

.playlist-header > h3 {
  margin-left: 10px;
  line-height: 40px;
}

.playlist-header > h3 > span {
  float: right;
  margin-right: 10px;
  font-size: 2em;
}

.playlist-header > h3 > span:hover {
  cursor: pointer;
}

.playlist {
  grid-column: 1 / 6;
  grid-row: 5 / 10;
  overflow: auto;
  max-height: 240px;
}

.playlist > table {
  border-collapse: collapse;
  width: 100%;
}

tr {
  height: 40px;
}


td {
  text-align: left;
  padding-left: 10px;
}

td:hover {
  background-color: rgb(15, 153, 28);
  color: white;
  cursor: pointer;
}


tr:nth-child(odd) {
  background-color: #eaeaea;
}

.tracks {
  grid-column: 6 / 11;
  grid-row: 3 / 10;
}

.songs {
  border-collapse: collapse;
  width: 100%;
}

.songs > tr:hover {
  background-color: rgb(15, 153, 28);
  color: white;
  cursor: pointer;
}

.active {
  background-color: rgb(15, 153, 28);
}

.right {
  text-align: right;
  padding-right: 10px;
}

.controls {
  grid-column: 1 / 11;
  grid-row: span 2;
  display: flex;
  justify-content: center;
  align-items: center;

}

.controls > audio {
    width: 100%;
}
