.container {
    display: flex;

}

.item-green {
    background-color: green;
    width: 25%;
    height: 100px;
}

.item-yellow {
    background-color: yellow;
    width: 50%;
    height: 100px;
}

.item-purple {
    background-color: purple;
    width: 25%;
    height: 100px;
}