.container {
    display: flex;
    flex-direction: column;
    height: 600px;
}

.item {
    width: 100%;
    flex-grow: 1;
}

.green {
    background-color: green;

    
    
}
.yellow {
    background-color: yellow;
    flex-grow: 2;
    order: 1;
}

.purple {
    background-color: purple;
    
}