.container {
    width: 1000px;
    height: 600px;
    background-color: yellow;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0px;
}

.item {
    height: 120px;
    width: 120px;
    background-color: purple;
    margin-left: 15px;
    margin-right: 0px;
    list-style: none;
}